footer {
    display: flex;
    background: rgb(20,152,213);
    background: linear-gradient(90deg, rgba(20,152,213,1) 35%, rgba(0,212,255,1) 100%);
}
.icon_foot {
    color: white;
    margin: 0.625rem;
    font-size: 3.125rem;
}
.footer_icon {
    font-weight: bolder;
}
.footer_network { 
    margin: auto;
    top: 9.375rem;
}
.footer_p {
    font-size: 1.5rem;
    color: black;
    margin: auto;
}
.footer_logo {
    display: flex;
    justify-content: end;
}
.sub_footer {
    display: none;
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width: 768px) {
    footer {
        display: flex;
        background: rgb(20,152,213);
        background: linear-gradient(90deg, rgba(20,152,213,1) 35%, rgba(0,212,255,1) 100%);
    }
    .icon_foot {
        display:block;
        color: #1498d5!important;
        margin: 0.625rem !important;
        font-size: 3.125rem !important;
    }
    .footer_network { 
        position: fixed;
        top: 9.375rem;
        background-color: white;
    }
    .footer_p {
        display: none;
    }
    .footer_icon {
        display: none;
    }
    .footer_logo {
        width: 100%;
        order: 2;
    }
    .logo_footer {
        margin:auto;
        max-width: 80%;
        display: flex;
    }
    .sub_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 1;
        align-items: center;
    }
    .p_footer {
        text-align: center;
        color: black;
        font-size: 1.5rem;
        font-weight: bolder;
        margin: auto;
    }
}