.frm {
    background-image: url(assent/images/patter.jpg);
    display: grid;
    grid-template-columns: 48% 48%;
    border-radius: 1.25rem;
}
.frm input{
    width: 70%;
    margin: auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 1.25rem;
    border-color: #E3F2FD;
    border-radius: 5px;

}
.frm textarea{
    width: 70%;
    margin: auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 1.25rem;
    border-color: #E3F2FD;
    border-radius: 5px;
}
.frm input:nth-child(1) {
    margin-top: 3.125rem;
}
#contact_submit {
    margin-bottom: 1.5rem;
    background-color: #1498d5;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
fieldset {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    border-color: #1498d5;
    border-radius: 0.625rem;
    background-color: #E3F2FD;
    opacity:.9;
}
legend {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1498d5;
    text-align: center;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background-color: #E3F2FD;
}
#contact_submit:hover {
    cursor: pointer;
    background-color: #1E88E5;
    transition: .3s;
}
#msgsend {
    font-size: 24px;
}
.input_data {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.error {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: darkcyan;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
}
#contact_name, #contact_email, #contact_affair, #contact_msg {
    margin-top: 15px;
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width: 768px) {
    .frm {
        background-image: url(assent/images/patter.jpg);
        display: flex;
        flex-direction: column;
        border-radius: 1.25rem;
    }
    .frm input{
        width: 70%;
        margin: auto;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        padding: 1.25rem;
        border-color: #E3F2FD;
        border-radius: 5px;
    }
    .frm textarea{
        width: 70%;
        margin: auto;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        padding: 1.25rem;
        border-color: #E3F2FD;
        border-radius: 5px;
    }
    .frm input:nth-child(1) {
        margin-top: 3.125rem;
    }
    #contact_submit {
        margin-bottom: 1.5rem;
        background-color: #1498d5;
        color: white;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    fieldset {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        border-color: #1498d5;
        border-radius: 0.625rem;
        background-color: #E3F2FD;
        opacity:.9;
    }
    legend {
        font-size: 1.5rem;
        font-weight: bolder;
        color: #1498d5;
        text-align: center;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        background-color: #E3F2FD;
    }
}