.skill {
    margin-top: 3.125rem;
}
.skills {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.heave_skill {
    width: 18.75rem;
    height: 18.75rem;
    margin: auto;
    background-color: #E3F2FD;
    margin: 0.625rem;
    text-align: center; 
    border-radius: 0.625rem; 
}
h2 {
    text-align: center;
    margin: 0.938rem;
}
.fa-brands, .fa-solid{
    color: #1498d5;
    font-size: 6.25rem;
    margin-top: 4.375rem;
}
.heave_skill h3 {
    font-size: 2.188rem;
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width: 992px) {
    .skill {
        margin-top: 3.125rem;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .heave_skill {
        width: 18.75rem;
        height: 18.75rem;
        margin: auto;
        background-color: #E3F2FD;
        margin: 0.625rem;
        text-align: center; 
        border-radius: 0.625rem; 
    }
    h2 {
        text-align: center;
        margin: 0.938rem;
    }
    .fa-brands, .fa-solid{
        color: #1498d5;
        font-size: 6.25rem;
        margin-top: 4.375rem;
    }
    .heave_skill h3 {
        font-size: 2.188rem;
    }
}