@media (max-width: 992px) {
    .navbar {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    #logo {
        width: 6.25rem;
        margin: 0.938rem;
    }
}    