.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    /*background-color: white;*/
}
#logo {
    width: 6.25rem;
    margin: 0.938rem;
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    #logo {
        width: 6.25rem;
        margin: 0.938rem;
    }
}    