@media (max-width: 768px) {
    .frm_contact {
        background-color: #E3F2FD;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    .contact {
        width: 90%;
        margin: auto;
    }
    .title_contact {
        padding-bottom: 1.875rem;
    }
    .title_contact h3 {
        text-align: center;
        font-size: 1.875rem;
        margin: 15px;
    }
}