*{
    font-family: 'Montserrat Alternates', sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
nav {
    height: 25px;
}
